 @import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700);


 #map{
       width: 100%;
       height: 100%;
        background:white;
    }
      
      body{
        margin:0px;   
          height:100%;
          width:100%
      }
      
      html{
          margin:0px;   
          height:100%;
          width:100%
          
      }

.leaflet-control-layers{
          top: 10px;
          border-radius:0px;
          width:60px;   
          left:10px;    
      }
      
.leaflet-control-zoom leaflet-bar leaflet-control{
          border-radius:0px;
      }

#down{
          position:absolute;
          bottom:10px;
          left:10px;
          background:white;
          box-shadow: 0px 0px 4px gray;
          /*border:1px gray solid;*/
          margin:white;
          width:376px;
          font-family: "sans-serif", "arial";
          font-size:12px;
          padding:5px;
      }

#down a{
          text-decoration:none;
          color:black;
          display:block;
          
      }

.rc{
          width:13px;
          margin-right:5px;    
      }



#menu {
    padding: 20px;
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.90);
    margin: 20px;
    right: 0px;
    width: 450px;

}

#timeline {
  padding: 10px;
  position:absolute;
  z-index:1;
  background-color:black;
  margin:10px;
  left: 0px;
  bottom: 15px;
  width:50%;
}

h1{
  font-family: 'Titillium Web', sans-serif; 
  color: #000; 
  background-color:#fff;
  padding:10px 0;
  margin-bottom:15px !important;
  text-align:center;
}

h2 {
  font-family: 'Titillium Web', sans-serif; 
  color: #fff;
  font-size:38px;
  margin:0;
  font-weight:normal;
}

h1.title{
  font-weight: 400;
  font-size: 35px;
  margin: 0px;
  line-height: 1em;
  
}

h1.subtitle{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: #ccc;
  font-size: 4em;
  margin: 0px;
  line-height: 1em;
}

.line{
  border:1px solid white;
  color:#fff;
}
.line_bold{
  border:2px solid white;
  color:#fff;
}

.counter{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: #e23130;
  font-size: 45px;
  display:inline-table;
}

.plane{
  fill: #fff;
  width:80px;
  float:left;
}

.morts_dia {
  color:#e23130;
  margin-left:10px;
}

.data{
  float:left;
  margin-right:10px;
}



.leaflet-right{

  left:0 !important;
  right:auto !important;
}

.leaflet-control-layers{
  background-color:#000 !important;
}

.leaflet-control-layers-list{
  color:#fff !important;
}

.leaflet-control-layers-toggle{
  width:60px !important;
}

.leaflet-control-layers-expanded{
  font-family: 'Titillium Web', sans-serif !important;
  width:200px !important;
  font-size:18px;
}

#ButtonPlay{
      float: left;
    margin-left: -78px;
}

#timeline{
      padding: 10px;
    position: absolute;
    z-index: 1;
    background-color: black;
    margin: 10px;
    left: 0px;
    bottom: 15px;
    width: 90%;
    /* margin-left: 72px; */
    padding-left: 100px;
}
